/* media queries */

/*
    breakpoints for devices

    0 - 600px        ---->    Mobile
    600px - 900ox    ---->    Tablets
    900px - 1200px   ---->    Desktop
    1200px +         ---->    Biger screens + infinite


*/

// 16px = 1em

@mixin respond-to($size) {
    @if $size == small-phone {
        @media only screen and (max-width: 20em) { @content };
    }
    @if $size == phone {
        @media only screen and (max-width: 37.55em) { @content };
    }
    @else if $size == tablet {
        @media only screen and (max-width: 56.25em) { @content };
    }
    @else if $size == tablet-land {
        @media only screen and (max-width: 75em) { @content };
    }
    @else if $size == biger-screens {
        @media only screen and (min-width: 112.5em) { @content };
    }
}

:root {
    --color-red:       #f05454;
    --color-blue:      #30475e;
    --color-blue-dark: #222831;
    --color-gray-light:#e8e8e8;
    --color-gray-dark: #707070;
}

* {
    margin:  0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px 10/16 = 62.5

    @include respond-to(tablet) {
        font-size: 56.25%;
    }

    @include respond-to(phone) {
        font-size: 50%;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6rem;
    padding:     3rem;
    color:       var(--color-blue);

    @include respond-to(biger-screens) {
        padding: 5rem;
    }
    
    @include respond-to(tablet-land) {
        padding: 2rem;
    }

    @include respond-to(phone) {
        padding: 1.5rem;
    }
}